<aside>
    <ul>
        <li>
            <ul>
                <li><a href="#overview">Présentation</a></li>
                <li><a href="#cuisine">Gastronomie</a></li>
                <li><a href="#streetart">Street art</a></li>
                <li><a href="#thingstodo">Les choses à faire</a></li>
                <li><a href="#nightlife">Vie nocturne</a></li>
            </ul>
        </li>
    </ul>
    <button id="bob">Choisir</button>
    <a href="#"><button id="button_high"><i class="fas fa-angle-up"></i></button></a>
</aside>
