<footer>
    <div class="container text-center text-md-left mt-5">
      <div class="row m-0">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Voyages VoyaJ</h6>
          <p>Choisi ton voiyage que ce soit entre amies, amoureux et aussi bien attirer par le street art.</p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <a href="mailto:contact@voayaj.com"><i class="fas fa-envelope"></i>contact@voayaj.com</a>
          <!-- Sorry -->
          <br>
          <a href="tel: 09 23 45 67 88"><i class="fas fa-phone"></i>09 23 45 67 88</a>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center copieR">
        <p>© 2019 Copyright. Voyage Voiyage.</p>
    </div>
</footer>